body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(750px, 5fr);
    grid-template-rows: minmax(200px, 1fr) minmax(550px, 3fr);
}

#header {
    background-color: #ecfeff;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 100px 100px;
}

#srcBarLine {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin-top: -50px;
}

#srcBar {
    display: flex;
    justify-content: space-between;
}

#srcButton {
    width: 15px;
    height: 15px;
    border: none;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 5px;
    margin: 10px;
    position: relative;
    top: 5px;
}

#srcBarBody {
    border-radius: 10px;
    width: 500px;
    height: 1.5em;
}

#bellImg {
    width: 20px;
    height: 20px;
    color: black;
}

#userPic {
    width: 50px;
    height: 40px;
    color: black;
}

#userServices>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#userServices>ul>li {
    list-style-type: none;
    padding: 5px;
}

#userServices>ul>li>a {
    text-decoration: none;
    color: black;
}

#userLine {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

#userInfo {
    display: flex;
    align-items: center;
}

#photo {
    padding-right: 12px;
    width: 60px;
    height: 60px;
    color: black;
}

#mainName {
    font-size: 5mm;
}

#interactionButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
}

.projectButtons {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #0891b2;
    border-color: #0891b2;
    width: 70px;
    height: 30px;
    padding: 8px;
    padding-bottom: 25px;
    color: white;
}

#sidebar {
    background-color: #0891b2;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
}

#logo {
    color: white;
    grid-row: 1/2;
    margin-left: 1em;
    padding-top: 1em;
    font-size: 6mm;
    align-self: center;
}

#navigation {
    display: flex;
    grid-row: 2/5;
}

#branding {
    display: flex;
    grid-row: 5/8;
}

#navigation>ul>li, #branding>ul>li{
    list-style-type: none;
    margin: 10px 0;
    margin-left: -1em;
}

#navigation>ul>li>a, #branding>ul>li>a {
    text-decoration: none;
    color: white;
}

#main {
    background-color: #a5f3fc;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 300px 300px 200px;
    grid-template-rows: 20px repeat(3, 230px);
    padding-bottom: -50px;
    justify-content: space-between;
    padding-right: 30px;
}

#projectsArea {
    grid-column: 1/3;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr; 
    padding: 20px;
}

#projectsArea>div>h5 {
    font-size: 6mm;
}

#announcements {
    grid-column: 3/4;
    grid-row: 2/3;
}

#trending {
    grid-column: 3/4;
    grid-row: 3/4;
    position: relative;
    top: 80px;
}

#projectsArea>div {
    width: 300px;
    height: 150px;
    background-color: white;
    margin: 15px;
    padding: 12px;
    border-left: yellow solid 5px;
}

#projectsArea>h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    height: 1em;
}


.announceBox {
    background-color: white;
    height: 260px;
    width: 200px;
    padding: 5px;
}

.announceBox>div {
    padding-top: -8px;
}

.announceBox> #announceBoxDiv1 {
    border-bottom: rgba(91, 91, 91, 0.4) groove 0.5px;
}

.trendingItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#trending>h3 {
    position: relative;
    top: 12px;
}

#trendingBox {
    position: relative;
    top: 15px;
}